
<!-- Footer-->
<footer class="bg-gradient-primary-to-secondary text-center text-white py-5">
    <div class="container px-5">
        <div class="text-white small">
            <div class="mb-2">&copy; Your Website 2023. All Rights Reserved.</div>
            <span class="mx-1">&middot;</span>
            <a href="#!" class="text-white">FAQ</a>
        </div>
    </div>
</footer>