{% extends 'front/layout.html.twig' %}

{% block title %}Méthodologies{% endblock %}

{% block breadcrumbs %}
    <section>
        <div class="container">
            <div style="padding-top: 2rem;padding-bottom: 0rem;">
                <a href="{{ path('front_home') }}">Accueil</a> / Méthodologies
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}*
    <!-- Timeline 4 - Bootstrap Brain Component -->
    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center bsb-timeline-4">
                <div>
                    <h1 class="pb-2 border-bottom">Découvrez notre méthodologie pour la création de site web
                        éco-conçu</h1>
                    <p>Notre agence eco conception web met en place une méthodologie adaptée aux principes
                        d’éco-conception pour la réalisation de vos projets web.</p>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
                            <ul class="timeline">
                                <li class="timeline-item left">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><i class="bi bi-pc-display"></i></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Web</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">Active Support</h6> #}
                                                    <p class="card-text m-0">Réduire le poids des pages web</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item right">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><i class="bi bi-globe"></i></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Web</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">No Active Support</h6> #}
                                                    <p class="card-text m-0">Réduire le poids et le nombre de
                                                        fichiers
                                                        téléchargés lors de l'affichage d'une page web. Préflight
                                                        code,
                                                        Protocole HTTP/2, HTTP/3,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item left">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><i class="bi bi-file-earmark"></i></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Web / Serveur</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">No Active Support</h6> #}
                                                    <p class="card-text m-0">Permettre la mise en cache des fichiers
                                                        et
                                                        des
                                                        requêtes.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item right">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><i class="bi bi-database"></i></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Serveur</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">No Active Support</h6> #}
                                                    <p class="card-text m-0">Optimisation des requêtes mise en place
                                                        d'outils de recherche performante permettant d'avoir des
                                                        resultats
                                                        ultra rapide et indexation de la base de données.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item left">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><span class="bi bi-server"></span></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Serveur / Hébergement</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">No Active Support</h6> #}
                                                    <p class="card-text m-0">Privilégier un hébergeur green avec des
                                                        serveurs alimentés par énergies renouvelables avec notre
                                                        partenariat
                                                        avec Infomaniac (<a title="Infomaniac"
                                                                            href="https://www.infomaniak.com/fr/ecologie">www.infomaniac.com</a>)
                                                        société certifiée par l'AFNOR (<a
                                                                href="https://www.afnor.org"
                                                                title="AFNOR">www.afnor.org</a>">www.afnor.org</a>
                                                        ).
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item right">
                                    <div class="timeline-body">
                                        <div class="timeline-meta">
                                            <div class="d-inline-flex flex-column branding-color px-2 py-1 rounded-2 text-md-end h1">
                                                <span><i class="bi bi-browser-chrome"></i></span>
                                            </div>
                                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">Site Web</h2>
                                                    {#                                                    <h6 class="card-subtitle text-secondary mb-3">No Active Support</h6> #}
                                                    <p class="card-text m-0">Appliquer les bonnes pratiques pour
                                                        créer
                                                        des sites éco-responsables
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Masthead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3"><span class="branding-color">Pourquoi</span> choisir
                            l'éco-conception web ?</h1>
                        <p class="lead fw-normal  mb-5">Alsi propose des solutions digitales respecteuse de
                            l'environnement et
                            performantes pour un impact durable.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <p style="text-align: justify">
                            À l'heure où les enjeux environnementaux sont au cœur des préoccupations mondiales,
                            l’éco-conception web s’impose comme une approche incontournable pour les entreprises
                            soucieuses
                            de leur impact numérique. Le secteur du numérique, bien que souvent invisible, est
                            responsable
                            de 3 à 4 % des émissions mondiales de gaz à effet de serre, rivalisant ainsi avec des
                            industries
                            aussi polluantes que le transport aérien. Dans ce contexte, réduire l'empreinte
                            énergétique
                            d’un
                            site web n'est plus une simple option, mais une véritable nécessité pour participer à la
                            transition écologique, le web représente <span class="branding-color">7% de la consommation énergétique mondiale</span>
                            et ne va
                            cesser de monter dans les années à venir.
                        </p>
                        <p style="text-align: justify">
                            <span class="branding-color">L'éco-conception web</span> va bien au-delà de la simple
                            optimisation technique. Elle repose
                            sur une réflexion stratégique visant à limiter l’usage de ressources inutiles et à
                            privilégier
                            l’efficacité. Chaque élément intégré à un site web doit avoir une utilité précise,
                            tandis
                            que
                            les fonctionnalités lourdes et les données superflues sont <span class="branding-color">réduites au minimum</span>.
                            Ce
                            processus
                            permet de limiter les transferts de données, donc la consommation d’énergie, et, à
                            terme, de
                            <span class="branding-color">réduire l’impact</span> environnemental du numérique. Adopter
                            une telle démarche, c'est non seulement anticiper les futures régulations en matière de
                            durabilité, mais aussi répondre aux attentes d'une clientèle de plus en plus <span
                                    class="branding-color">exigeante sur
                                les questions écologiques</span>.
                        </p>
                        <p style="text-align: justify">
                            Chez <span class="branding-color">Alsi</span>, nous considérons que l'éco-conception web est
                            une voie essentielle pour
                            l’avenir.
                            Nous ne voyons pas seulement cette approche comme une tendance, mais comme une
                            transformation
                            nécessaire pour construire un monde numérique durable. En développant des sites <span
                                    class="branding-color">allégés,
                            rapides
                                et optimisés</span>, nous offrons à nos clients une double promesse : celle de
                            performances
                            améliorées
                            et d'un impact environnemental réduit. Concrètement, cela se traduit par des temps de
                            chargement
                            <span class="branding-color">plus courts</span>, une navigation <span
                                    class="branding-color">fluide</span> et une expérience utilisateur <span
                                    class="branding-color">simplifiée</span>. Le tout
                            sans
                            sacrifier la <span class="branding-color">qualité</span> ni les <span class="branding-color">fonctionnalités</span> de votre site.
                        </p>
                        <p style="text-align: justify">
                            À travers cette démarche, vous montrez à vos clients que votre entreprise s’engage
                            activement
                            dans la lutte contre le réchauffement climatique. Un site web éco-conçu reflète des
                            valeurs
                            <span class="branding-color">fortes et engagées</span>, tout en vous positionnant en acteur
                            responsable dans un monde en
                            quête
                            de
                            durabilité. Chez <span class="branding-color">Alsi</span>, nous utilisons des techniques
                            d’optimisation avancées et un
                            design
                            réfléchi pour assurer que chaque projet que nous développons participe à un avenir
                            numérique
                            plus vert. En adoptant cette approche, non seulement vous minimisez l'impact écologique
                            de
                            votre
                            site, mais vous préparez également votre entreprise aux défis de demain, où
                            l’écoresponsabilité
                            sera un <span class="branding-color">pilier central de la réussite</span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('front/partials/_planning_reservation.html.twig') }}
    <section class="container px-4 py-5 text-center" id="custom-cards">
        <h2 class="pb-2 border-bottom">Nos outils & partenaires pour favoriser l'éco-conception web</h2>
        <p>Des outils intelligents pour faire en sorte de rendre son site web léger et réduire au maximum sa
            consommation d’énergie.</p>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Infomaniak Hébergeur web
                            éco-responsable</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <a href="https://github.com/twbs.png" title="Bootstrap"
                                   class="rounded-circle border border-white">Site Web
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Reforest'Action</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <a href="https://github.com/twbs.png" title="Bootstrap"
                                   class="rounded-circle border border-white">Site Web
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Plus de 100 techniques de conceptions
                            éco-responsable</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <a href="https://github.com/twbs.png" title="Bootstrap"
                                   class="rounded-circle border border-white">Site Web
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
