{% extends 'front/layout.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
    <!-- Testimonials Section with Carousel -->
    <section id="testimonials" class="bg-light py-5">
        <div class="container">

        </div>
    </section>
{% endblock %}