{% extends 'front/layout.html.twig' %}

{% block title %}Confidentialité{% endblock %}


{% block breadcrumbs %}
    <section>
        <div class="container">
            <div style="padding-top: 5rem">
                <a href="{{ path('front_home') }}">Acceuil</a> / Confidentialité
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <!-- Testimonials Section with Carousel -->
    <section class="bg-light py-5">
        <div class="container">
            <div class="privacy-policy">
                <h2>Politique de Confidentialité - Alsi.tech</h2>
                <p>
                    À une époque où les outils numériques et les nouvelles technologies sont omniprésents,
                    la protection de la vie privée est devenue une priorité essentielle pour les entreprises
                    responsables. Chez <strong>Alsi</strong>, nous sommes profondément engagés à garantir
                    la confidentialité des données personnelles que nous collectons, en pleine conformité
                    avec le <strong>Règlement Général sur la Protection des Données (RGPD)</strong>. Cette
                    politique reflète notre détermination à protéger les informations de nos utilisateurs et à
                    offrir une transparence totale sur la manière dont ces données sont traitées et conservées.
                </p>
                <p>
                    Le cadre juridique en matière de protection des données personnelles en France repose sur
                    plusieurs lois, notamment la <strong>loi n° 78-87 du 6 janvier 1978</strong>, la
                    <strong>loi n° 2004-801 du 6 août 2004</strong>, ainsi que la <strong>Directive Européenne
                        du 24 octobre 1995</strong>. À cela s’ajoute le <strong>règlement n° 2016/679</strong>, plus
                    connu sous le nom de <strong>RGPD</strong>, qui est le pilier central de la protection des
                    données à l’échelle européenne. Alsi se conforme à ces normes rigoureuses pour garantir
                    que vos informations personnelles sont traitées avec le plus grand soin.
                </p>

                <h3>Collecte des renseignements personnels</h3>
                <p>
                    Nous collectons les renseignements suivants : nom, prénom et informations de contact.
                    Ces renseignements sont recueillis, par exemple, lorsque vous nous contactez via
                    notre formulaire de contact ou par email. Ils sont stockés pour la durée nécessaire à
                    la réalisation des finalités pour lesquelles ils ont été collectés.
                </p>

                <h3>Les cookies ? Quels cookies ?</h3>
                <p>
                    Nous n'utilisons aucun cookie de suivi sur notre site <strong>Alsi.tech</strong>. Cela signifie
                    que lors de votre visite, aucune donnée de suivi n'est enregistrée, et par conséquent,
                    aucun consentement n'est requis. Cette approche écoresponsable s'inscrit dans notre
                    volonté de réduire l'impact numérique et de respecter votre vie privée.
                </p>

                <h3>Formulaires et interactivité</h3>
                <p>
                    Lorsque vous nous contactez via notre formulaire ou par email, les informations collectées ne sont pas
                    sauvegardées et sont utilisées uniquement pour répondre à vos demandes, comme la création de devis
                    personnalisés, prendre contact et/ou le traitement de questions spécifiques.
                </p>

                <h3>Droit d’opposition et de retrait</h3>
                <p>
                    Conformément au RGPD, <strong>Alsi</strong> vous offre un droit d'opposition et de retrait
                    concernant vos données personnelles. Vous avez la possibilité de refuser l'utilisation de
                    vos informations pour des fins spécifiques, ainsi que de demander à tout moment la
                    suppression de vos données de nos systèmes.
                </p>
                <p>
                    Pour exercer ces droits, veuillez nous contacter à l'adresse suivante :
                    <a href="mailto:eco@alsi.tech">eco@alsi.tech</a> ou nous écrire à :
                </p>
                <address>
                    Alsi<br>
                    24 allée du cerf<br>
                    95800 Courdimanche<br>
                    France<br>
                    Téléphone : <a href="tel:+33695565822">06.95.56.58.22</a>
                </address>

                <h3>Droit d’accès et de rectification</h3>
                <p>
                    Vous disposez d'un droit d'accès, de modification et de rectification de vos informations
                    personnelles. Vous pouvez également demander la suppression de vos données si vous estimez
                    qu'elles ne sont plus pertinentes. Pour toute demande, veuillez nous contacter par email à
                    <a href="mailto:eco@alsi.tech">eco@alsi.tech</a>.
                </p>

                <h3>Sécurité</h3>
                <p>
                    Chez <strong>Alsi</strong>, nous prenons des mesures strictes pour assurer la sécurité des
                    données personnelles que vous nous confiez. Les informations sont stockées dans un environnement
                    sécurisé, et l'accès à ces données est limité à des personnes autorisées. Nous utilisons des
                    technologies telles que le <strong>protocole SSL</strong> pour garantir la confidentialité
                    et l'intégrité de vos transactions en ligne.
                </p>
                <p>
                    Cependant, il est important de noter qu'aucun système n'est infaillible, et qu'il existe
                    toujours un certain niveau de risque lors de la transmission d'informations sur Internet.
                    Nous nous engageons néanmoins à mettre en œuvre tous les moyens nécessaires pour protéger
                    vos données.
                </p>

                <h3>Législation</h3>
                <p>
                    <strong>Alsi</strong> respecte scrupuleusement les dispositions législatives énoncées dans
                    le <strong>règlement européen n° 2016/679</strong> sur la protection des données (RGPD), afin
                    de garantir la sécurité, la transparence et le respect des droits des utilisateurs.
                </p>
            </div>
        </div>
    </section>
{% endblock %}