{% extends 'front/base.html.twig' %}

{% block body %}
    {{ include('front/partials/_nav.html.twig') }}
    <main {{ stimulus_target('commun', 'container') }}>
        {% block content %}{% endblock %}
    </main>
    {{ include('front/partials/_footer.html.twig') }}
    {{ include('front/partials/_modal.html.twig') }}
{% endblock %}
